:root {
  font-size: 62, 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url(/img/pokemon-logo-png-0.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  cursor: url(/img/pokeball.png), auto;
  
  


  flex-direction: column;
  background-image: url(/img/bg_pikachu.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: repeat-x;
  background-attachment: fixed;
  

  /* background: radial-gradient(
    circle,
    rgba(240, 236, 19, 1) 0%,
    rgba(253, 187, 45, 1) 100%
    
  ); */
}


 

.btn_container {
  width: 30rem;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}



.btn_container a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(248, 223, 0);
  border-radius: 0;
  background-color: #2c6eb5;
  border: 0.2rem solid #1c2c5e;
  width: 12rem;
  height: 3rem;
  box-shadow: -14px 7px 10px 0px #1c2c5e;
}

.btn_container a:hover {
  transform: scale(1.2);
  transition: ease-in-out;
  transition: 0.5s;
}

button {
  font-size: 1.3rem;
  color: white;
  /* color: rgb(248, 223, 0); */
  border-radius: 0;
  background-color: #2c6eb5;
  border: 0.2rem solid #1c2c5e;
  width: 12rem;
  height: 3rem;
  box-shadow: -14px 7px 10px 0px #1c2c5e;
  animation-name: slide-bottom;
  animation-duration: 2s;
}

button:hover {
  transform: scale(1.2);
  transition: ease-in-out;
  transition: 0.5s;
  cursor: url(/img/pokeball.png), auto;
}

/* /* ----------------------------------------------
 * Generated by Animista on 2022-8-18 20:28:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.main {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_container {
  width: 82%;
  height: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

  animation-name: slide-in-bck-center;
  animation-duration: 3s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-18 20:33:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}



 .alert_window {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-top: 4rem;
  text-align: start;
  margin-top: 0.5rem;
  width: 96%;
  height: 8rem;
  border: 5px solid #1c2c5e;
  background-color: rgba(251, 251, 251, 0.909);
  background-image: url(/img/Pokemon-BG_green.jpg);
  
  background-size: contain;
  padding: 0.5rem;
  position: relative;
  top: -7rem;
  box-shadow: 3px 3px 100px 3px #e3e0e0;
  box-shadow: -14px 7px 10px 0px #1c2c5e;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.alert_window p {
  font-size: 1rem;
  line-height: 2rem;
  margin: 0%;
  font-weight: 700;
  color: rgb(9, 9, 9);
  
  
}

.logo {
  margin-top: 2rem;
  position: relative;
  top: -8rem;

}

.logo img {
  position: relative;
  width: 30rem;
  animation-name: jello-horizontal;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count:  1;
  animation-timing-function: linear ;
}

.logo img:hover{
 transform: scale(1.1);
 transition: ease-in-out 0.5s;

}


@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.btn_container_two {
  width: 80%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_container_three {
  margin-top: 3rem;
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.flip-card {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-color: transparent;
  width: 15rem;
  height: 25rem;
  margin-right: 1rem;
  border-radius: 1rem;
  perspective: 1000px;
  animation-name: roll-in-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-18 20:44:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transition: ease-in-out;
  transform-style: preserve-3d;
}

.flip-card-front-one {
  margin-top: 1.5rem;
  position: absolute;
  width: 15rem;
  height: 22rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  background-color: #bbb;
  color: black;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-image: url(/img/card_back.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flip-card-back {
  position: absolute;
  width: 15rem;
  height: 22rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1.2rem;
  padding: 0.5rem;
  /* background: radial-gradient(
    circle,
    rgb(201, 119, 12) 22%,
    rgb(213, 143, 22) 100%
  ); */
  background-image: url(/img/card_bg.png);
  background-position: center;
  background-size: cover;
  border: 5px solid rgb(255, 254, 254);
  color: white;
  transform: rotateY(180deg);
  box-shadow: 3px 3px 30px 10px #fcfcfc;
}



.flip-card-back h1 {
  color: rgb(3, 3, 3);
  margin-top: 0.3rem;
  font-size: 1.1rem;
  position: relative;
  top: -9.3rem;
  left: 1rem;
}

.flip-card-back p {
  color: rgb(11, 11, 11);
  font-size: 1.2rem;
}

.flip-card-back img {
  width: 12.9rem;
  height: 9.5rem;
  position: relative;
  right: -1.1rem;
  top: 2rem;
}

.scroll_card .Health_input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
}

.scroll_card {
  margin-top: 1.9rem;
  padding: 0.5rem;
  width: 70%;
  position: relative;
  left: 2.4rem;
}

.scroll_card p {
  margin-right: 1rem;
  font-weight: 500;
}

.scroll_card .Health_input_box input {
  height: 1.2rem;
  width: 2rem;
}

.scroll_card .magic_input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
}

.scroll_card .magic_input_box input {
  height: 1.2rem;
  width: 2rem;
}

.scroll_card .attack_input_box {
  display: flex;
  align-items: center;
  height: 2.2rem;
  justify-content: space-between;
}

.scroll_card .attack_input_box input {
  height: 1.2rem;
  width: 2rem;
}

footer {
  margin-top: 3rem;
  height: 0.1rem;
  align-self: center;
  animation-name: tracking-in-contract-bck-top;
  animation-duration: 2s;
}

footer p {
  top: 1.2rem;
  position: relative;
  letter-spacing: 4px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-18 20:52:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
